# python3.10

# dev
loguru==0.7.2
fastapi==0.104.1
pydantic==2.5.2
uvicorn==0.24.0.post1
transformers==4.35.2
torch==2.1.1
pyTelegramBotAPI==4.14.1

# tests
pytest==7.4.3
black==23.11.0
httpx==0.25.1
